<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <p>A simple weather forecast app that uses weatherstack.com and mapbox to make a forecast </p>
        {{>header}}
    </div>
    
    {{>footer}}
</body>

</html>
